
/*

!.gitignore
!build.xml

!/db

!lib/
lib/*
!lib/readme.txt

!/nbproject/
!src/

!web/

web/proxy/
web/tests/
web/tmp/

web/html/editor/*
!web/html/editor/readme.txt

web/html/img_pop/*
!web/html/img_pop/readme.txt

web/html/plugins/*
!web/html/plugins/readme.txt
